body{
    background-color: #011F3F;

}
h1{
    text-align: center;
    font-size: 5rem;
    color: rgb(198, 182, 219);
    font-family: 'Palette Mosaic', cursive;
}

#level-title {
    font-family: 'Palette Mosaic', cursive;
    font-size: 3rem;
    margin:  5%;
    text-align: center;
    color: #FEF2BF;
  }
.game-over {
    background-color: red;
    opacity: 0.8;
}
  
  
.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 10%;
  }
.row{
    text-align: center;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.pressed{
    box-shadow: 0 3px 4px 0 #82a6b3;
    background-color: grey;
}
